.header {
    background-color: var(--secondary-background);
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 150px;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 20px 0;
        padding: calc(var(--header-height) / 2) 0;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

}
.menu__item {
    &:last-child {
        margin-right: 0;
    }
    margin-right: 30px;
}